.contact-text {
  @apply ml-8 mb-3 text-sm;
}

@media only screen and (max-width: 1023px) {
  .contact-text {
    @apply mt-8 ml-0 mb-3 text-sm;
  }
}

@media only screen and (max-width: 1535px) {
  .paddingImg {
    padding-right: 0;
    padding-bottom: 48px;
  }
}

@media only screen and (max-width: 780px) {
  .mediaText {
    margin: 2em 2em;
  }
}
