
.nav {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.nav:after{
    content: "";
    position: absolute;
    background-color: #F47A78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.nav:hover{
    color: #ffffff;
}
.nav:hover:after{
    width: 100%;
}

@media only screen and (max-width: 580px) {
    .paddingNavbar {
      padding-left: 0.8em;
    }
  }